@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<!-- document type declaration -->
<html lang="en-US">
<!-- root element -->
<head>
    <!-- metadata -->
    <meta charset="utf-8" /> <!-- declare the encoding of this file -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <!-- page content -->

    <hr />
    <div class="jumbotron">

        <h2>Welcome to Expert Pizza!</h2>
        <h5>Where expert meets pizza.</h5>
    </div>
    <hr />

    <div class="container-fluid">
        <div class="row">

            <div>
                <h2>@Html.ActionLink("Users", "Index", "Users")</h2>
                <em><small>See the users index list.</small></em>
                <hr />
            </div>
            <div>
                <h2>@Html.ActionLink("Pizzas", "Index", "Pizzas")</h2>
                <em><small>See the pizzas index list.</small></em>
                <hr />
            </div>
            <div>
                <h2>@Html.ActionLink("Orders", "Index", "Orders")</h2>
                <em><small>See the orders index list.</small></em>
                <hr />
            </div>
            <div>
                <h2>@Html.ActionLink("Store Locations", "Index", "StoreLocations")</h2>
                <em><small>See the store location index list.</small></em>
            </div>
        </div>
    </div>
    <br />
</body>
</html>